<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Assinar</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Assinar</h2>
    <div>
        <form class="form-horizontal" th:object="${documentsSigned}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>

                <div class="col-sm-4">
                    <label th:text="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dados</label>
                <div class="col-sm-6">
                    <label th:text="*{dados}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-2">
                    <label th:text="*{userIdOwner}" />
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">Members</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="sign"  th:checked="*{false}" />
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-2">
                    <td><a th:href="${'/blockchain/listDocs/saveSign?id=' + documentsSigned.id}" class="btn btn-primary">Assinar</a></td>
                </div>
            </div>

        </form>
    </div>
</div>
</body>

</html>

