<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Criar Documento</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container" align="center">
    <h2>Criar Documento</h2>
    <div>
        <form class="form-horizontal" th:object="${digitalDocument}" th:action="@{/documents/save}" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label class="col-sm-2 control-label">Description: </label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" th:field="*{description}" />
                </div>
            </div>
            <div class="input-group col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

        </form>
    </div>
</div>
</body>

</html>

