<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Historico do Documento</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(history)}"> No transactions found!</div>
    <div th:if="${not #lists.isEmpty(history)}">
        <h2>Historico</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Descricao</th>
                <th>Dados</th>
                <th>Assinatura</th>

                <th>Owner</th>
                <th>Transaction ID</th>
                <th>Time</th>
                <th>Creator MSP</th>
                <th>Creator Signature</th>
            </tr>
            <tr th:each="historys : ${history}">
                <td th:text="${historys.asset.id}"></td>
                <td th:text="${historys.asset.descricao}"></td>
                <td th:text="${historys.asset.dados}"></td>
                <td>
                <ul>
                    <li th:each="entry: ${historys.asset.sign}">
                        <span th:text="${entry.key}"/> <span class="glyphicon glyphicon-ok"/>
                    </li>
                </ul>
                </td>
                <td th:text="${historys.asset.userIdOwner}"></td>
                <td th:text="${historys.transactionId}"></td>
                <td th:text="${#temporals.formatISO(historys.timeStamp)}">123456789</td>
                <td th:text="${historys.creatorMspId}"></td>
                <td th:text="${historys.creatorId}"></td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>