<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Fish overview</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(docs)}"> No fish found!</div>
    <div th:if="${not #lists.isEmpty(docs)}">
        <h2>Fish</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Dados</th>
                <th>Owner</th>
                <th>Member</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>History</th>
            </tr>
            <tr th:each="documentsSigned : ${docs}">
                <td th:text="${documentsSigned.id}">Salmon</td>
                <td th:text="${documentsSigned.dados}">2</td>
                <td th:text="${documentsSigned.userIdOwner}">3</td>
                <td th:text="${documentsSigned.listUserMembers}">3</td>
                <td><a th:href="${'/blockchain/listDocs/edit?id=' + documentsSigned.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/blockchain/listDocs/delete?id=' + documentsSigned.id}" class="btn btn-danger">Delete</a></td>
                <td><a th:href="${'/blockchain/listDocs/history?id=' + documentsSigned.id}" class="btn btn-default">Historico</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>