<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Documentos</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(docs)}"> No documents found!</div>
    <div th:if="${not #lists.isEmpty(docs)}">
        <h2>Lista de Documentos</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Signatures</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="digitalDocument : ${docs}">
                <td th:text="${digitalDocument.id}"></td>
                <td th:text="${digitalDocument.description}" class="col-sm-2"></td>
                <td th:text="${digitalDocument.userIdOwner}"></td>
                <td>
                    <ul>
                        <li th:each="entry: ${digitalDocument.signature}">
                            <span th:text="${entry.key}"/> <span class="glyphicon glyphicon-ok"/>
                        </li>
                    </ul>
                </td>
                <!--<td th:text="${digitalDocument.sign}"></td>-->
                <td><a th:href="${'/blockchain/listDocs/sign?id=' + digitalDocument.id}" class="btn btn-primary">Assinar</a>
                </td>
                <td><a th:href="${'/blockchain/document/get?id=' + digitalDocument.id}" class="btn btn-info">View</a></td>
                <td><a th:href="${'/blockchain/listDocs/delete?id=' + digitalDocument.id}" class="btn btn-danger">Delete</a></td>
                <td><a th:href="${'/blockchain/listDocs/history?id=' + digitalDocument.id}" class="btn btn-warning">Historico</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>