<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>User overview</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(users)}"> No User found!</div>
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Fish</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>History</th>
            </tr>
            <tr th:each="userIdentity : ${users}">
                <td th:text="${userIdentity.id}"></td>
                <td th:text="${userIdentity.name}"></td>
                <td th:text="${userIdentity.cpf}"></td>
                <td><a th:href="${'/blockchain/products/edit?id=' + userIdentity.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/blockchain/products/delete?id=' + userIdentity.id}" class="btn btn-danger">Delete</a></td>
                <td><a th:href="${'/blockchain/products/history?id=' + userIdentity.id}" class="btn btn-default">View</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>