<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Buscar Documento</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Buscar Documento</h2>
    <div>
        <form class="form-horizontal" th:object="${docs}" th:action="@{/documents/query}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label" >ID:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{id}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>